:root{
    --primary-color-light:  #B4D0E7;
    --secondary-color-dark: #0061FF;
    --footer-color: black;
    --default-padding: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg-nav{
    background-color: var(--primary-color-light);
    height: 60px;
    display: flex;
    padding: var(--default-padding);
    
}
.container-flex{
    display: flex;
}


.nav-left{
    background-color: red;
    
}

.nav-right{
    background-color: green;
}


.nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
}


.button{
    border: none;
    background-color: var(--secondary-color-dark);
    padding: 5px;
    
}
.btn-inizia{
    width: 60px;

}